* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

@font-face {
  font-family: 'Helvetica',sans-serif;
  src: url("../fonts/HelveticaNeueCyr-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Helvetica',sans-serif;
}

a {
  text-decoration: none;
}

button {
  max-width: 270px;
  width: 100%;
  border: none;
  padding: 25px 40px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.15);
}

.header {
  background: url("../images/header/bg.jpg") center no-repeat;
  background-size: cover;
  min-height: 730px;
}

.header-top {
  background-color: rgba(0, 0, 0, 0.7);
}

.header-top__wrap {
  min-height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
}

.header-top__logo__description {
  display: inline-block;
  margin-left: 15px;
  font-size: 20px;
}

.header-top__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
}

.header-top__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-style: 20px;
  color: #94ca2d;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .header-top__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #ffffff;
  }
  .header-top__logo {
    margin-top: 15px;
  }
  .header-top__logo__description {
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
  }
  .header-top__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 10px;
  }
  .header-top__phone {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    margin-right: 10px;
  }
  .header-top__call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 14px;
    color: #94ca2d;
    margin: auto;
  }
}

.logo-image {
  max-width: 55px;
  width: 100%;
}

@media (max-width: 564px) {
  .header {
    background: url("../images/header/bg.jpg") center no-repeat;
    background-size: cover;
    min-height: 620px;
  }
}

.hero-title {
  font-size: 38px;
  font-weight: bold;
  color: #ffffff;
  margin: 110px 0 10px 0;
}

.hero-subtitle {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}

.hero-button {
  display: block;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #94ca2d;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 35px;
}

.hero-button:hover {
  cursor: pointer;
  background-color: #75a024;
  -webkit-transition: .1s;
  transition: .1s;
}

.hero-images {
  position: relative;
}

.hero-images__raptor {
  position: absolute;
  right: 30px;
  -webkit-transform: translateY(-155px);
          transform: translateY(-155px);
}

@media (max-width: 991px) {
  .hero-images__raptor {
    max-width: 400px;
    width: 100%;
    -webkit-transform: translateY(-120px);
            transform: translateY(-120px);
  }
  .hero-images__glasses {
    max-width: 250px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .hero {
    text-align: center;
  }
  .hero-title {
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    margin: 60px 0 10px 0;
  }
  .hero-subtitle {
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
  }
  .hero-button {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #94ca2d;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 35px;
  }
  .hero-images {
    margin-top: 30px;
  }
  .hero-images__glasses {
    display: block;
    width: 40%;
  }
  .hero-images__raptor {
    width: 50%;
    -webkit-transform: translateY(-170px);
            transform: translateY(-170px);
  }
}

@media (max-width: 564px) {
  .hero {
    text-align: center;
  }
  .hero-title {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin: 60px 0 10px 0;
  }
  .hero-subtitle {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
  }
  .hero-button {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #94ca2d;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 35px;
  }
  .hero-images {
    margin-top: 50px;
  }
  .hero-images__glasses {
    display: block;
    width: 40%;
  }
  .hero-images__raptor {
    width: 50%;
    -webkit-transform: translateY(-135px);
            transform: translateY(-135px);
  }
}

@media (max-width: 420px) {
  .hero {
    text-align: center;
  }
  .hero-title {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin: 60px 0 10px 0;
  }
  .hero-subtitle {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
  }
  .hero-button {
    font-size: 17px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #94ca2d;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 35px;
  }
  .hero-images {
    margin-top: 50px;
  }
  .hero-images__glasses {
    display: block;
    width: 45%;
  }
  .hero-images__raptor {
    right: 10px;
    width: 50%;
    -webkit-transform: translateY(-90px);
            transform: translateY(-90px);
  }
}

.complect {
  background-color: #f8f8f0;
  background-size: cover;
  min-height: 660px;
}

.complectation {
  position: relative;
}

.complectation-button {
  max-width: 510px;
  width: 100%;
}

.complectation-title {
  font-size: 37px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 40px;
  padding-top: 100px;
}

.complectation-description {
  font-size: 17px;
  width: 100%;
  max-width: 570px;
}

.complectation-image {
  position: absolute;
  top: 20%;
  right: 0;
}

.complectation-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.complectation-types__price {
  color: red;
  font-size: 25px;
}

.complectation-types__inside {
  margin-left: 75px;
}

.complectation-types__inside:first-child {
  margin: 0;
}

.complectation-types__inside h4 {
  font-size: 20px;
  font-weight: 700;
}

.complectation-types__inside ul {
  list-style-type: none;
  padding: 0;
  font-size: 17px;
}

@media (max-width: 1199px) {
  .complectation {
    position: relative;
  }
  .complectation-button {
    max-width: 510px;
    width: 100%;
  }
  .complectation-title {
    font-size: 37px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 40px;
    padding-top: 100px;
  }
  .complectation-description {
    font-size: 17px;
    width: 100%;
    max-width: 570px;
  }
  .complectation-image {
    position: absolute;
    top: 20%;
    right: -17%;
  }
  .complectation-image img {
    max-width: 70%;
  }
}

@media (max-width: 991px) {
  .complectation {
    display: block;
    text-align: center;
  }
  .complectation-button {
    max-width: 510px;
    width: 100%;
    text-align: center;
    margin: 20px auto;
  }
  .complectation-title {
    font-size: 37px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 40px;
    padding-top: 100px;
  }
  .complectation-description {
    font-size: 17px;
    width: 100%;
    margin: 0 auto 25px;
  }
  .complectation-image {
    position: relative;
    display: inline-block;
    top: 20%;
    right: 0;
  }
  .complectation-types {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .complectation-types__price {
    color: red;
    font-size: 25px;
  }
  .complectation-types__inside {
    margin-left: 75px;
  }
  .complectation-types__inside:first-child {
    margin: 0;
  }
  .complectation-types__inside h4 {
    font-size: 20px;
    font-weight: 700;
  }
  .complectation-types__inside ul {
    list-style-type: none;
    padding: 0;
    font-size: 17px;
  }
}

@media (max-width: 564px) {
  .complectation-button {
    font-size: 14px;
  }
  .complectation-types {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .complectation-types__price {
    color: red;
    font-size: 20px;
  }
  .complectation-types__inside {
    margin-left: 0;
    text-align: left;
  }
  .complectation-types__inside:first-child {
    margin: 0;
  }
  .complectation-types__inside h4 {
    font-size: 20px;
    font-weight: 700;
  }
  .complectation-types__inside ul {
    list-style-type: none;
    padding: 0;
    font-size: 17px;
  }
}

@media (max-width: 420px) {
  .complectation-title {
    font-size: 25px;
    padding: 20px;
    margin-bottom: 10px;
  }
  .complectation-description {
    font-size: 15px;
    text-align: left;
  }
  .complectation-button {
    font-size: 9px;
    padding: 15px 15px;
  }
  .complectation-types {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .complectation-types__price {
    color: red;
    font-size: 20px;
  }
  .complectation-types__inside {
    margin-left: 0;
    text-align: left;
  }
  .complectation-types__inside:first-child {
    margin: 0;
  }
  .complectation-types__inside h4 {
    font-size: 20px;
    font-weight: 700;
  }
  .complectation-types__inside ul {
    list-style-type: none;
    padding: 0;
    font-size: 17px;
  }
}

.facilities {
  margin-top: 100px;
}

.facilities-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.facilities-first h4 {
  position: relative;
  font-size: 22px;
}

.facilities-first h4:before {
  content: url(../images/facilities/1.png);
  position: absolute;
  left: -60px;
  bottom: 0;
}

.facilities-first__diamond {
  position: absolute;
  left: 12%;
  bottom: 93px;
  z-index: -1;
}

.facilities-first__description {
  max-width: 388px;
  width: 100%;
  margin-left: 120px;
  font-size: 17px;
}

.facilities-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 90px;
  position: relative;
}

.facilities-second h4 {
  position: relative;
  font-size: 22px;
}

.facilities-second h4:before {
  content: url(../images/facilities/2.png);
  position: absolute;
  left: -60px;
  bottom: 0;
}

.facilities-second__diamond {
  position: absolute;
  right: -10%;
  top: -20%;
}

.facilities-second__description {
  max-width: 370px;
  width: 100%;
  font-size: 17px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .facilities-second__diamond {
    right: -7%;
    z-index: -1;
  }
}

@media (max-width: 991px) {
  .facilities {
    margin-top: 100px;
  }
  .facilities-first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .facilities-first h4 {
    position: relative;
    font-size: 22px;
  }
  .facilities-first h4:before {
    content: url(../images/facilities/1.png);
    position: absolute;
    left: -60px;
    bottom: 0;
  }
  .facilities-first__diamond {
    display: none;
    position: absolute;
    left: 12%;
    bottom: 93px;
    z-index: -1;
  }
  .facilities-first__description {
    max-width: 388px;
    width: 100%;
    font-size: 17px;
    margin: 0;
  }
  .facilities-second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 90px;
    position: relative;
  }
  .facilities-second h4 {
    position: relative;
    font-size: 22px;
  }
  .facilities-second h4:before {
    content: url(../images/facilities/2.png);
    position: absolute;
    left: -60px;
    bottom: 0;
  }
  .facilities-second__diamond {
    display: none;
    position: absolute;
    right: -10%;
    top: -20%;
  }
  .facilities-second__description {
    max-width: 370px;
    width: 100%;
    font-size: 17px;
    margin: 0 auto;
  }
}

@media (max-width: 564px) {
  .facilities h4 {
    font-size: 14px;
  }
  .facilities h4:before {
    display: none;
  }
  .facilities p {
    font-size: 12px;
  }
  .facilities-first__image {
    width: 300px;
  }
  .facilities-second__image {
    width: 300px;
  }
}

.facilities-two .image-first {
  position: relative;
  font-size: 22px;
}

.facilities-two .image-first:before {
  content: url(../images/facilities2/ball.png);
  position: absolute;
  left: -60px;
  bottom: 0;
}

.facilities-two .image-second {
  position: relative;
  font-size: 22px;
}

.facilities-two .image-second:before {
  content: url(../images/facilities2/gamepad.png);
  position: absolute;
  left: -60px;
  bottom: 0;
}

.delivery {
  background: url(../images/delivery/bg.jpg);
  background-size: cover;
}

.delivery-modal {
  display: block;
}

.delivery-wrap {
  background-color: rgba(0, 0, 0, 0.7);
}

.delivery-description {
  padding: 90px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.delivery-description h2 {
  font-size: 35px;
  color: #fff;
}

.delivery-description__text {
  position: relative;
  max-width: 510px;
  width: 100%;
  padding: 20px 50px 20px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #18a7d0;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.delivery-description__text::after {
  content: '';
  position: absolute;
  right: -64px;
  top: -1px;
  border: 41px solid transparent;
  border-left: 24px solid #18a7d0;
}

.delivery-description__pluses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 550px;
  width: 100%;
}

.delivery-description__pluses-time p {
  position: relative;
  max-width: 168px;
  width: 100%;
  margin-right: 20px;
  font-size: 18px;
  color: #fff;
}

.delivery-description__pluses-time p:before {
  position: absolute;
  content: url(../images/delivery/watch.png);
  left: -40px;
  top: 0;
}

.delivery-description__pluses-get p {
  position: relative;
  max-width: 200px;
  width: 100%;
  font-size: 18px;
  color: #fff;
}

.delivery-description__pluses-get p:before {
  position: absolute;
  content: url(../images/delivery/bag.png);
  left: -40px;
  top: 0;
}

@media (max-width: 991px) {
  .delivery {
    background: url(../images/delivery/bg.jpg);
    background-size: cover;
  }
  .delivery-modal {
    display: block;
    margin: 20px auto 0;
  }
  .delivery-wrap {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .delivery-description {
    padding: 90px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .delivery-description-wrap {
    margin: 0 auto;
  }
  .delivery-description h2 {
    font-size: 35px;
    color: #fff;
  }
  .delivery-description__text {
    position: relative;
    max-width: 510px;
    width: 100%;
    padding: 20px 50px 20px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #18a7d0;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .delivery-description__text::after {
    content: '';
    position: absolute;
    right: -64px;
    top: -1px;
    border: 41px solid transparent;
    border-left: 24px solid #18a7d0;
  }
  .delivery-description__pluses {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 550px;
    width: 100%;
  }
  .delivery-description__pluses-time p {
    position: relative;
    max-width: 168px;
    width: 100%;
    margin-right: 20px;
    font-size: 18px;
    color: #fff;
  }
  .delivery-description__pluses-time p:before {
    position: absolute;
    content: url(../images/delivery/watch.png);
    left: -40px;
    top: 0;
  }
  .delivery-description__pluses-get p {
    position: relative;
    max-width: 200px;
    width: 100%;
    font-size: 18px;
    color: #fff;
  }
  .delivery-description__pluses-get p:before {
    position: absolute;
    content: url(../images/delivery/bag.png);
    left: -40px;
    top: 0;
  }
}

@media (max-width: 564px) {
  .delivery {
    background: url(../images/delivery/bg.jpg);
    background-size: cover;
  }
  .delivery-wrap {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .delivery-description {
    padding: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .delivery-description-wrap {
    margin: 0 auto;
  }
  .delivery-description h2 {
    font-size: 28px;
    color: #fff;
  }
  .delivery-description__text {
    position: relative;
    max-width: 510px;
    width: 100%;
    padding: 20px 50px 20px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #18a7d0;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .delivery-description__text::after {
    display: none;
    content: '';
    position: absolute;
    right: -64px;
    top: -1px;
    border: 41px solid transparent;
    border-left: 24px solid #18a7d0;
  }
  .delivery-description__pluses {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    max-width: 550px;
    width: 100%;
  }
  .delivery-description__pluses-time {
    margin: auto;
  }
  .delivery-description__pluses-time p {
    position: relative;
    max-width: 168px;
    width: 100%;
    margin-right: 20px;
    font-size: 18px;
    color: #fff;
  }
  .delivery-description__pluses-time p:before {
    position: absolute;
    content: url(../images/delivery/watch.png);
    left: -40px;
    top: 0;
  }
  .delivery-description__pluses-get {
    margin: auto;
  }
  .delivery-description__pluses-get p {
    position: relative;
    max-width: 200px;
    width: 100%;
    font-size: 18px;
    color: #fff;
  }
  .delivery-description__pluses-get p:before {
    position: absolute;
    content: url(../images/delivery/bag.png);
    left: -40px;
    top: 0;
  }
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 380px;
  height: 330px;
  background-color: #000;
  border: 3px solid #18a7d0;
}

.modal-content {
  max-width: 287px;
  margin: auto;
}

.modal-content__title {
  font-size: 18px;
  color: #fff;
  font-weight: normal;
  text-align: center;
  margin-top: 0;
}

.modal-content__name {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  margin-bottom: 7px;
}

.modal-content__tel {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  margin-bottom: 7px;
}

.modal-content__btn {
  max-width: 287px;
  width: 100%;
  background-color: #94ca2d;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 44px;
}

.modal-content__info {
  display: block;
  margin-top: 10px;
  color: #fff;
  font-weight: normal;
  opacity: .8;
  text-align: center;
}

@media (max-width: 564px) {
  .modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    height: 330px;
    background-color: #000;
    border: 3px solid #18a7d0;
  }
}

.manual {
  padding: 90px 0;
  background-color: #f8f8f0;
}

.manual__title {
  text-align: center;
  font-size: 35px;
  font-family: 'Helvetica',sans-serif;
  font-weight: 900;
}

.manual__title::after {
  content: '';
  height: 5px;
  width: 50px;
  background-color: #18a7d0;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.manual__steps-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.manual__step {
  text-align: center;
  display: block;
}

.step__description {
  font-size: 17px;
  max-width: 224px;
}

.step__num {
  margin-bottom: 10px;
}

.step__num-circle-border {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border: 2px solid #18a7d0;
  border-radius: 50%;
  text-align: center;
  line-height: 2rem;
  padding: 0.3rem;
  color: #ffffff;
  background-color: #ffffff;
  margin-top: -15px;
}

.step__num-circle {
  display: inline-block;
  background-color: #18a7d0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  font-size: 21px;
  font-weight: bold;
}

@media (max-width: 991px) {
  .manual {
    padding: 90px 0;
    background-color: #f8f8f0;
  }
  .manual__title {
    text-align: center;
    font-size: 35px;
    font-family: 'Helvetica',sans-serif;
    font-weight: 900;
  }
  .manual__title::after {
    content: '';
    height: 5px;
    width: 50px;
    background-color: #18a7d0;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }
  .manual__steps-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .manual__step {
    text-align: center;
    display: block;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.step__description {
  font-size: 17px;
  max-width: 375px;
  margin-bottom: 20px;
}

@media (max-width: 564px) {
  .manual {
    padding: 30px 0;
    background-color: #f8f8f0;
  }
  .manual__title {
    text-align: center;
    font-size: 25px;
    font-family: 'Helvetica',sans-serif;
    font-weight: 900;
  }
  .manual__title::after {
    content: '';
    height: 2px;
    width: 50px;
    background-color: #18a7d0;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }
  .manual__steps-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .manual__step {
    text-align: center;
    display: block;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.compatibility__title {
  font-size: 35px;
  font-family: 'Helvetica',sans-serif;
  font-weight: 900;
  margin: 110px 0 80px 0;
}

.compatibility__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.compatibility__item {
  margin-right: 40px;
}

.compatibility__item img {
  width: 80%;
}

.compatibility__item:last-child {
  margin-left: 100px;
  margin-right: 0;
  text-align: left;
}

.compatibility__firm {
  max-width: 450px;
  margin-top: 10px;
  font-size: 16px;
  font-family: 'Helvetica',sans-serif;
  font-weight: 700;
}

@media (max-width: 991px) {
  .compatibility__title {
    font-size: 35px;
    font-family: 'Helvetica',sans-serif;
    font-weight: 900;
    margin: 110px 0 80px 0;
  }
  .compatibility__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .compatibility__item {
    margin: 0;
  }
  .compatibility__item img {
    width: 80%;
  }
  .compatibility__item:last-child {
    margin-top: 30px;
    margin-right: 0;
    text-align: left;
  }
  .compatibility__firm {
    max-width: 450px;
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Helvetica',sans-serif;
    font-weight: 700;
  }
}

@media (max-width: 768px) {
  .compatibility__title {
    font-size: 25px;
    font-family: 'Helvetica',sans-serif;
    font-weight: 900;
    margin: 110px 0 80px 0;
    text-align: center;
  }
  .compatibility__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .compatibility__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .compatibility__item img {
    width: 100%;
    max-width: 200px;
  }
  .compatibility__item:last-child {
    margin: 0 auto;
    text-align: center;
  }
  .compatibility__item:last-child img {
    width: 80%;
  }
  .compatibility__firm {
    margin: 10px auto;
    font-size: 22px;
    font-family: 'Helvetica',sans-serif;
    font-weight: 700;
    text-align: center;
  }
  .compatibility__firm:last-child {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */