@mixin medium 
    font-family: 'Helvetica',sans-serif

body
    +medium
a
    text-decoration: none
button
    max-width: 270px
    width: 100%
    border: none
    padding: 25px 40px
    box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.15)
    